---
import Image from 'astro/components/Image.astro';

export interface Props {
    src: ImageMetadata;
    href: string;
}

const { src, href } = Astro.props;
---

<a href={href} rel="noopener" target="_blank">
    <Image width={265} height={150} src={src} alt="" />
</a>

<style>
    a {
        display: block;
    }
    img {
        width: 100%;
    }
</style>
